@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1f2937;
  --secondary: #111827;
  --tertiary: #374151;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  /* border-radius: 5px; */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
  border: 3px solid var(--primary);
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
} */
