@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* DARK */
  --dark-100: #64748b;
  --dark-200: #374151;
  --dark-300: #1f2937;
  --dark-400: #111827;
  --dark-500: #080C15;

  /* GRAY */ 
  --white: #fff;
}

/* Firefox */
* {
  scrollbar-width: 12px;
  scrollbar-color: #9ca3af var(--dark-300);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--dark-300);
  /* border-radius: 5px; */
}

*::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 10px;
  border: 3px solid var(--dark-300);
}

/* ::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-200);
} */
